<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @entree.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @entree.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @entree.stock %>
</p>

<%= link_to 'Edit', edit_entree_path(@entree) %> |
<%= link_to 'Back', entrees_path %>
